$body-bg: #fff;

@import "~bootstrap/scss/bootstrap.scss";

html {
  scroll-behavior: smooth;
}

.my-container {
  margin-left: 20px;
  margin-right: 20px;
}

.imageCard-menu {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

html {
  scroll-behavior: smooth;
}

.my-container {
  margin-left: 20px;
  margin-right: 20px;
}

.imageCard-menu {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

a {
  color: rgb(30, 30, 30);
  text-decoration: none;
}

a:hover {
  color: rgb(30, 30, 30);
  text-decoration: none;
}

.card-footer {
  color: rgb(30, 30, 30);
}

h1 {
  color: rgb(30, 30, 30);
}

.dropzone {
  width: 100%;
  height: 20%;
  background-color: rgb(220, 220, 220);
  color: rgb(30, 30, 30);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.child {
  pointer-events: none;
}

.modal-bg {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.form-control {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.form-control:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.swal {
  background-color: rgb(255, 255, 255);

  .swal-text {
    color: rgb(30, 30, 30);
  }

  .swal-title {
    color: rgb(30, 30, 30);
  }
}

.headroom {
  z-index: 1000;

  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0%);
  width: 100%;

  box-shadow: 0 4px 2px -2px rgb(220, 220, 220);
}

.window {
  margin-top: 100px;
  width: 100%;
}
